fastapi>=0.115  # web framework to build backend API
uvicorn[standard]>=0.32 #server to run api
python-multipart>=0.0.18 #accepts file uploads

pymongo>=4.13          # python to talk with mongodb
pydantic[email]>=2.9   # installs email-validator
pydantic-settings>=2.6 #load configuration from your .env file

bcrypt>=4.2 #password hashing
python-jose[cryptography]>=3.3 #Create and verify JWT using python-jose

pdfplumber>=0.11
docx2txt>=0.8 #.docx files

sentence-transformers>=3.3 #text embeddings
numpy>=1.26

httpx>=0.27 #lets backend make requests to other APIs/services.

pytest>=8.3
mongomock_motor>=0.0.34 #testing MongoDB code without connecting to your real MongoDB database.
